
.food-item-card{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.food-item-card:hover
{
    border: 0.1rem solid rgb(232, 232, 232);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.food-item-card-header-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border:  1px solid #ccc;
    border-radius:15px;
    margin: 5px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .1s;
}

.food-item-card-header-img:hover{
    transform: scale(1.1);
}

h4{
    font-size: 20px;
    font-weight: 600;
    padding-top: 6px;
}

.img-container{
  padding: 10px;
}


h5, .category{
    font-size: 15px;
    font-weight: 500;
}
.btn-add-to-list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #5f259f;
    font-size: 20px;
    border: none;
    padding: 4px;
    width: 140px;
    justify-content: center;
    border-radius: 30px;
    margin-top: 6px;
}

.fSXTKp{
    border: 0.1rem solid rgb(232, 232, 232);
    margin-top: 7px;
    margin-bottom: 7px;
}

.qnt-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    background-color:#5f259f ;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.qtn-text{
    font-size: 4px;
}


.quantity-btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

