.score-keeper-container{
  background: linear-gradient(to bottom left, #ffff66 0%, #ff9933 100%);
  min-height: 100vh;
  padding: 10px;
}

.img-basket{
  display: block;
  margin: auto;
  height: 150px;
}

.score-keeper-heading{
  margin-left: 85vh;
  margin-top: -2px;
 }
 
 .score-card-container{
   display: flex;
   justify-content: space-around;
 }
 
 .score-card{
   background-color:white;
   min-width: 300px;
   min-height: 350px;
   border-radius: 15px;
   padding: 10px;
   border: 5px double black;
 }
 
 .score-card-heading {
   margin: 0;
   text-align: center;
   font-size: 40px;
 }
 .score-card-count {
   margin: 0;
   text-align: center;
   font-size: 80px;
 }
 
 .button-container{
   display: flex;
   justify-content: space-around;
 }
 
 .score-button{
   font-size: 60px;
   border-radius: 50%;
   height: 80px;
   width: 80px;
   margin-top: 50px;
 }
 
 