*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.form-containeer{
    width: 400px;
    padding: 20px;
    border-radius:8px;
    margin: 0 auto;
    margin-left: 25%;
}

.text {
    font-size:12px ;
    color: #464141cc;
}

h1{
    font-weight: 900;
}

form{
    margin: 10px;
    align-items: center;
}

.avtar img{
    height: 100px;
    margin-left: 114px;

}

.user-input{
    display: block;
    width: 250px;
    border-radius: 4px;
    border: none;
    outline: none;
    height:28px;
    margin: 2px;
    margin-left: 31px;
    padding-bottom: 9px;
    background-color: #cccccc00;
}

.input-box{
    background-color: #cccccc63;
}

.input-box i{
    padding: 10px;
    color: #7871717a;

}

.input-box-a{
    border-top-right-radius: 50px;
    border-top-left-radius: 15px;
}

.input-box-d{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 50px;
}
.signup-button{
    font-size: 15px;
    background-color: #66ccff;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: white;
    display: block;
    margin-left: 29px;
    width: 11vw;
    border-top-right-radius: 50px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 16px;
}

.image img{
    height: 10%;
    margin-top: 103px;
}

.maindiv{
    border: 3px solid rgb(44, 44, 168);
    height: 550px;
    margin: 20px;
    border-radius: 10px;
}

.row{
    height: 100px;
}

.textline{
    font-size: 12px;
    padding-top: 19px;
    font-weight: 600;
}

.textline span{
    color: #66ccff;
    cursor: pointer;
}

.signup{
    display: flex;
}