.form-containeer{
    width: 400px;
    padding: 20px;
    border-radius:8px;
    margin: 0 auto;
    margin-left: 25%;
    margin-top: 19px;

}

.text {
    font-size:12px ;
    color: #464141cc;
}

form{
    margin: 10px;
    align-items: center;
}

.user-input{
    display: block;
    width: 250px;
    border-radius: 4px;
    border: none;
    height:44px;
    margin: 2px;
    background-color: #cccccc21;
}

.input-box{
    background-color: #cccccc21;
}

.signup-button{
    font-size: 15px;
    background-color: #66ccff;
    padding: 2px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: white;
    display: block;
    
}

img{
    height: 10%;
}

.maindiv{
    border: 3px solid rgb(44, 44, 168);
    height: 550px;
    margin: 20px;
    border-radius: 10px;
}